{
  "extends": ["react-app"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-var": "error",
    "camelcase": "error",
    "space-before-blocks": "error",
    "eol-last": "error"
  },
  "overrides": [
    {
      "files": ["**/*ts?(x)"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/quotes": ["error", "single", "avoid-escape"],
        "@typescript-eslint/indent": ["error", 2],
        "@typescript-eslint/semi": ["error", "always"],
        "@typescript-eslint/space-before-function-paren": "error",
        "@typescript-eslint/await-thenable": "error",
        "@typescript-eslint/explicit-module-boundary-types": "error",
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-implied-eval": "error",
        "@typescript-eslint/no-this-alias": "error",
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
        "@typescript-eslint/no-unsafe-return": "error",
        "@typescript-eslint/restrict-plus-operands": "error",
        "@typescript-eslint/restrict-template-expressions": "error",
        "import/order": "error",
      }
    }
  ]
}
