$mdc-theme-primary: #607d8b;
$mdc-theme-primary-light: #cfd8dc;
$mdc-theme-primary-dark: #455a64;
$mdc-theme-secondary: #cddc39;
$mdc-theme-primary-text: #212121;
$mdc-theme-secondary-text: #757575;
$mdc-theme--background: #bdbdbd;

@import '@material/theme/mdc-theme';
